.form-group {
  @include pxRem(padding, 8 0);
}
.form-control {
  @include pxRem(height, 34);
  @include pxRem(padding, 0 12);
  @include pxRem(font-size, 14);
  @include pxRem(border-radius, 4);
  display: block;
  width: 100%;
  color: $color-grey;
  background: $color-white;
  border: 0;
  outline: 0;
  border-bottom: 1px solid map-get($colors, primary);
}
.form-inline {
  @include pxRem(padding, 16);
  @include pxRem(font-size, 16);
  @include pxRem(border-radius, 4);
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-primary;
}
