* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-black;
}

button {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

a {
  transition: all .5s;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}
h1 {
  @include pxRem(font-size, 24);
}
h2 {
  @include pxRem(font-size, 22);
}
h3 {
  @include pxRem(font-size, 20);
}
h4 {
  @include pxRem(font-size, 18);
}
h5 {
  @include pxRem(font-size, 16);
}
h6 {
  @include pxRem(font-size, 14);
}
