$colors: (
  white: #fff,
  border: #e4e4e4,
  primary: #1a73e8,
  input-bg: #e8f0fe,
  info-txt: #5f6368
);
.login-page {
  .login-box {
    max-width: 500px;
    margin: auto;
    margin-top: 32px;
    border: 1px solid map-get($colors, border);
    border-radius: 8px;
    padding: 48px 40px;
    .logo-img {
      width: 75px;
    }
    .headingText {
      letter-spacing: .5px;
    }
    .headingSubText {
      letter-spacing: .2px;
    }
    .form-control {
      height: 50px;
      border: 1px solid map-get($colors, border);
    }
    .forgot-email-btn {
      text-align: left;
      color: map-get($colors, primary);
    }
    .info-txt {
      color: map-get($colors, info-txt);
    }
    .hype-link {
      display: inline-block;
      color: map-get($colors, primary);
    }
    footer {
      display: flex;
      justify-content: space-between;
      .next-btn {
        padding: 8px 24px;
      }
    }
  }
}
.btn {
  background: map-get($colors, primary);
  color: map-get($colors, white);
}
.btn-txt {
  background: transparent;
  color: map-get($colors, primary);
}
